* {
  box-sizing: border-box;
}
body {
  background-image: url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 55%;
  margin: 0 auto;
}

.board {
  position: absolute;
  bottom: 50%;
  left: 3%;
  top: 3%;
  line-height: 2;
}

#play-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ground {
  display: inline-flex;
  flex: 1 1 25%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.dirt,
.mole {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.dirt {
  background-image: url("./images/dirt.svg");
  z-index: 1;
  background-position: center 113%;
}

.mole {
  background-image: url(./images/mole.svg);
  transition: all 0.1s ease;
  top: 100%;
  background-position: bottom;
  background-size: 73%;
}

.ground.active .mole {
  top: 0;
}

.up {
  /* top: 125px; */
  top: 35px;
}

.timer {
  width: 250px;
  padding: 1rem 2rem 0 1rem;
  margin-bottom: 1rem;
  border: 3px solid #fbd20a;
  border-radius: 8px;
  background-color: white;
  box-shadow: inset 0px 0px 2px 2px rgba(251, 210, 10, 1);
  font-family: "Lobster", cursive, "Old Standard TT", serif;
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(
    135deg,
    rgba(249, 138, 159, 1) 0%,
    rgba(251, 210, 10, 1) 100%
  );
}

.popup {
  transform: scale(1);
  -webkit-animation: popupAnim 0.2s backwards;
  animation: popupAnim 0.2s backwards;
  transition: all 0.2s;
}

@-webkit-keyframes popupAnim {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(2);
  }
}

@keyframes popupAnim {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(2);
  }
}

.button-wrapper {
  background-color: #1a1901;
  border-radius: 8px;
  /* width: 196px; */
  width: 100%;
  margin-bottom: 1rem;
}
.start-button {
  border: 3px solid #7a7f43;
  width: 100%;
  text-align: center;
  padding: 1rem 2rem 1rem 1rem;
  box-shadow: inset 0px 0px 2px 2px #7a7f43;
  font-family: "Lobster", cursive, "Old Standard TT", serif;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  background: linear-gradient(
    135deg,
    rgba(251, 210, 10, 1) 0%,
    rgba(249, 138, 159, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.start-button:focus {
  color: white;
}

.score {
  font-family: "Lobster", cursive, "Old Standard TT", serif;
  font-size: 32px;
  font-weight: bold;
  padding: 1rem 2rem 0 1rem;
  margin-bottom: 1rem;
  border: 3px solid #f98a9f;
  border-radius: 8px;
  background-color: white;
  box-shadow: inset 0px 0px 2px 2px #cb1f60;
  background: linear-gradient(
    135deg,
    rgba(251, 210, 10, 1) 0%,
    rgba(249, 138, 159, 1) 100%
  );
}

@media screen and (max-width: 1000px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    justify-content: center;
  }
  .mound,
  .mole-wrapper {
    height: 100%;
    width: 100%;
  }

  .mound-img {
    width: 100%;
  }

  .mole-img {
    top: 72px;
    left: 3rem;
  }
}
