body {
  background-image: url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: center;
  margin-top: 4rem; */

  /* display: grid;

  margin-left: 8rem;
  row-gap: 12rem;
  align-items: center;
  justify-items: end;

  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr)); */

  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); */

  gap: 14rem;
  margin: 0 auto;
  width: 900px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.board {
  position: absolute;
  bottom: 50%;
  left: 3%;
  line-height: 2;
}

.mound {
  border: 1px solid salmon;
  /* position: relative;
  height: 20%;
  width: 26%;
  height: 120px;
  width: 200px;
  background: url(./images/dirt.svg);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2; */

  /* height: 323px;
  width: 230px; */
  position: relative;
  flex: 1 0 33.33%;
  /* overflow: hidden; */
}
.mound:after {
  display: block;
  background: url(./images/dirt.svg) no-repeat;
  background-size: cover;
  content: "";
  width: 100%;
  height: 212px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
  border: 1px solid black;
}

/* .mole-wrapper {
  background: url(./images/mole.svg) no-repeat;
  background-size: 60%;
  position: absolute;
  /* top: 100px; */
/* bottom: -8px;
  left: 58px;
  width: 100%;
  height: 100px;
  transition: all 0.4s;
} */

/* .mound-img {
  width: 83%;
  height: 70%;
  z-index: 5;
  border: 1px solid black;
  position: absolute;
} */

.rot {
  transform: rotateY(180deg);
  transform-origin: center;
}

/* .mole-img {
  position: absolute;

  width: 51%;
  height: 65%;
  left: 5rem;
  z-index: 1;
  transition: all 0.4s ease-out;
  bottom: 10px;
} */

.mole-img {
  left: 62px;
  top: 135px;
  width: 65%;
  height: 85%;
  position: relative;
  transition: all 0.4s ease-out;
}
.up {
  /* top: 125px; */
  top: 35px;
}
.anim {
  -webkit-animation: appear 3s ease-out;
  animation: appear 3s ease-out;
}

@-webkit-keyframes appear {
  5% {
    top: 125px;
  }

  90% {
    top: 125px;
  }
  100% {
    top: 200px;
  }
}

@keyframes appear {
  5% {
    top: 125px;
  }

  90% {
    top: 125px;
  }
  100% {
    top: 200px;
  }
}

.timer {
  width: 200px;
  padding: 1rem 2rem 0 1rem;
  margin-bottom: 1rem;
  border: 3px solid #fbd20a;
  border-radius: 8px;
  background-color: white;
  box-shadow: inset 0px 0px 2px 2px rgba(251, 210, 10, 1);
  font-family: "Lobster", cursive, "Old Standard TT", serif;
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(
    135deg,
    rgba(249, 138, 159, 1) 0%,
    rgba(251, 210, 10, 1) 100%
  );
}

.button-wrapper {
  background-color: #1a1901;
  border-radius: 8px;
  /* width: 196px; */
  width: 100%;
  margin-bottom: 1rem;
}
.start-button {
  border: 3px solid #7a7f43;
  width: 100%;
  text-align: center;
  padding: 1rem 2rem 1rem 1rem;
  box-shadow: inset 0px 0px 2px 2px #7a7f43;
  font-family: "Lobster", cursive, "Old Standard TT", serif;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  background: linear-gradient(
    135deg,
    rgba(251, 210, 10, 1) 0%,
    rgba(249, 138, 159, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.start-button:focus {
  color: white;
}

/* .timer::before {
  display: block;
  content: " ";
  background-image: url("./images/timer.svg");
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
} */
.score {
  font-family: "Lobster", cursive, "Old Standard TT", serif;
  font-size: 32px;
  font-weight: bold;
  padding: 1rem 2rem 0 1rem;
  margin-bottom: 1rem;
  border: 3px solid #f98a9f;
  border-radius: 8px;
  background-color: white;
  box-shadow: inset 0px 0px 2px 2px #cb1f60;
  background: linear-gradient(
    135deg,
    rgba(251, 210, 10, 1) 0%,
    rgba(249, 138, 159, 1) 100%
  );
}

@media screen and (max-width: 1000px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    justify-content: center;
  }
  .mound,
  .mole-wrapper {
    height: 100%;
    width: 100%;
  }

  .mound-img {
    width: 100%;
  }

  .mole-img {
    top: 72px;
    left: 3rem;
  }
}
