* {
  box-sizing: border-box;
}
body {
  background-image: url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 55%;
  margin: 0 auto;
}

.board {
  position: absolute;
  bottom: 50%;
  left: 3%;
  top: 3%;
  line-height: 2;
}

#play-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ground {
  display: inline-flex;
  flex: 1 1 25%;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}

.dirt,
.mole {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.dirt {
  background-image: url("./images/delik.svg");
  z-index: 1;
  background-position: center 113%;
}

.mole {
  background-image: url(./images/mole.svg);
  transition: all 0.1s ease;
  top: 100%;
  background-position: bottom;
  background-size: 73%;
}

.kiss-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kiss {
  opacity: 0;
  width: 75px;
  height: 44px;
}

.animate {
  -webkit-animation: slide-up 0.2s both, rotate ease-out 0.5s forwards;
  animation: slide-up 0.2s both, rotate ease-out 0.5s forwards;
}

#kiss1 {
  align-self: center;
  -webkit-animation-delay: 0s, 1.5s;
  animation-delay: 0.1s, 1.5s;
}

#kiss2 {
  align-self: end;
  -webkit-animation-delay: 0.5s, 2s;
  animation-delay: 0.5s, 2s;
}

#kiss3 {
  align-self: baseline;
  -webkit-animation-delay: 1s, 2.5s;
  animation-delay: 1s, 2.5s;
}

@-webkit-keyframes slide-up {
  0% {
    transform: translate3d(0, 800px, 0);
  }

  70% {
    transform: translate3d(0, -20%, 0);
  }
  80% {
    transform: translate3d(0, 20%, 0);
  }
  100% {
    transform: translate3d(0);
  }
}
@keyframes slide-up {
  0% {
    transform: translate3d(0, 800px, 0);
  }

  70% {
    transform: translate3d(0, -20%, 0);
  }
  80% {
    transform: translate3d(0, 20%, 0);
  }
  100% {
    transform: translate3d(0);
  }
}

@-webkit-keyframes rotate {
  50% {
    transform: scale(1.1) rotate(-10deg);
    fill: #fdf097;
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes rotate {
  50% {
    transform: scale(1.1) rotate(-10deg);
    fill: #fdf097;
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.ground.active .mole {
  top: 0;
}

.up {
  /* top: 125px; */
  top: 35px;
}

.timer {
  width: 250px;
  padding: 1rem 2rem 0 1rem;
  margin-bottom: 1rem;
  border: 3px solid #fbd20a;
  border-radius: 8px;
  background-color: white;
  box-shadow: inset 0px 0px 2px 2px rgba(251, 210, 10, 1);
  font-family: "Lobster", cursive, "Old Standard TT", serif;
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(
    135deg,
    rgba(249, 138, 159, 1) 0%,
    rgba(251, 210, 10, 1) 100%
  );
}

.popup {
  transform: scale(1);
  -webkit-animation: popupAnim 0.2s backwards;
  animation: popupAnim 0.2s backwards;
  transition: all 0.2s;
}

@-webkit-keyframes popupAnim {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(2);
  }
}

@keyframes popupAnim {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(2);
  }
}

.button-wrapper {
  background-color: #1a1901;
  border-radius: 8px;
  /* width: 196px; */
  width: 100%;
  margin-bottom: 1rem;
}
.start-button {
  border: 3px solid #7a7f43;
  width: 100%;
  text-align: center;
  padding: 1rem 2rem 1rem 1rem;
  box-shadow: inset 0px 0px 2px 2px #7a7f43;
  font-family: "Lobster", cursive, "Old Standard TT", serif;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  background: linear-gradient(
    135deg,
    rgba(251, 210, 10, 1) 0%,
    rgba(249, 138, 159, 1) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.start-button:focus {
  color: white;
}

.score {
  font-family: "Lobster", cursive, "Old Standard TT", serif;
  font-size: 32px;
  font-weight: bold;
  padding: 1rem 2rem 0 1rem;
  margin-bottom: 1rem;
  border: 3px solid #f98a9f;
  border-radius: 8px;
  background-color: white;
  box-shadow: inset 0px 0px 2px 2px #cb1f60;
  background: linear-gradient(
    135deg,
    rgba(251, 210, 10, 1) 0%,
    rgba(249, 138, 159, 1) 100%
  );
}

/* MODAL */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animateleft;
  -webkit-animation-duration: 0.4s;
  animation-name: animateleft;
  animation-duration: 0.4s;
  z-index: 20;
}

/* Add Animation */
@-webkit-keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
@media screen and (max-width: 1000px) {
  body {
    background-size: auto;
  }

  .board {
    display: flex;
    justify-content: center;
    font-size: 25px;
    height: 25%;
  }

  .button-wrapper,
  .timer,
  .score {
    width: 50%;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    justify-content: center;
  }
  .mound,
  .mole-wrapper {
    height: 100%;
    width: 100%;
  }

  .mound-img {
    width: 100%;
  }

  .mole-img {
    top: 72px;
    left: 3rem;
  }
}
